.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    height: 100px;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}
.jcarousel-prev, .jcarousel-next {
	position:absolute;
	top:50%;
	display:block;
	width:100px
	height:100px;
	opacity:0.6;
}
.jcarousel-prev {
	background-image:url(/img/larrow.png);
	left:3px;
}
.jcarousel-next {
	background-image:url(/img/rarrow.png);
	right:3px;
}
