.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    height: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}
.jcarousel li img {
	display:block;
	margin:0 auto;
	max-width:720px;
}
.jcarousel-prev, .jcarousel-next {
	position:absolute;
	top:50%;
	display:block;
	width:50px;
	height:50px;
	opacity:0.6;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.jcarousel-prev {
	background-image:url(/img/larrow.png);
	left:3px;
}
.jcarousel-next {
	background-image:url(/img/rarrow.png);
	right:3px;
}
