.mainPage #introPic {
	position:absolute;
}
.mainPage #nextPic {
	position:absolute;
	display:none;
}
.fragment {
	position:absolute;
	display:none;
	-webkit-transition: -webkit-transform 20ms linear;
	-moz-transition: -moz-transform 20ms linear;
	-o-transition: -o-transform 20ms linear;
	transition: transform 20ms linear;
}
