body {
	margin:0;
}
body.mainPage, body.secondPage {
	overflow:hidden;
}
.mainPage #loadingIcon {
	position:absolute;
	margin:auto;
}
.mainPage #introPic {
	position:absolute;
	display:none;
}
.mainPage #nextPic {
	position:absolute;
	display:none;
}
.fragment {
	position:absolute;
	/*display:none;*/
	-webkit-transition: -webkit-transform 300ms ease-in, opacity 300ms ease-in;
	-moz-transition: -moz-transform 300ms ease-in, opacity 300ms ease-in;
	-o-transition: -o-transform 300ms ease-in, opacity 300ms ease-in;
	transition: transform 300ms ease-in, opacity 300ms ease-in;
	width: 100px;
	height:100px;
}
.secondPage {
	background-color:#000;
}
.secondPage #indexWheelContainer {
	position:absolute;
	height:400px;
	width:400px;
}
.secondPage .indexWheelLink {
	position:absolute;
	top:176px;
}
.secondPage .indexWheelLinkImage {
	height:48px;
}
.secondPage #wheelViewport, {
	position:absolute;
}
.secondPage .wheelContent {
	position:absolute;
	width:800px;
	opacity:0;
}
.secondPage .wheelContent h2 {
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:30px;
}
.secondPage .wheelContent p {
	color:white;
	text-align:center;
	font-weight:bold;
}
.secondPage #indexWheelContainer, .secondPage #wheel, .secondPage .wheelContent {
	-webkit-transition: -webkit-transform 600ms ease-in-out, opacity 600ms ease-in;
	-moz-transition: -moz-transform 600ms ease-in-out, opacity 600ms ease-in;
	-o-transition: -o-transform 600ms ease-in-out, opacity 600ms ease-in;
	transition: transform 600ms ease-in-out, opacity 600ms ease-in;
}

